@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Requirements</h3>
    <p>
        <pre>
  Test case:

            Implement a simple page/form for uploading excel files on ASP.net.
            The main requirement is to upload :
            - user can upload a file with any number and column name
            - on the interface the user can choose the matching of columns with the uploaded file and field 
            names in the database table (example of a set of columns in the database table field_values : 
            Id_document, phone,alternative_id, driving_license, 
            first_name,last_name,sex,education,marital_status, children)

            If you have any questions about the task, ask me immediately:).

            .
        </pre>
    </p>
</div>
