
@{
    ViewData["Title"] = "Upload File";
}


<div class="text-center">
    <h1 class="display-4">Upload File</h1>

    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="UploadFile" asp-action="UploadExcel">
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        @*<p>Upload one or more files using this form:</p>*@
                        <input type="file" class="custom-file-input" name="excelfile" />
                        <label class="custom-file-label" for="FileUpload" aria-describedby="inputGroupFileAddon02">Choose Excel file</label>
                    </div>
                        <div class="input-group-append">
                            <input type="submit" value="Upload" id="btnSubmit" class="btn btn-primary" />
                        </div>
                </div>
            </div>
        </form>
    </div>
</div>
